<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <b>Register User</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding-top class="register">
    <ion-grid>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-card padding>
            <ion-card-content>
              <div [formGroup]="registerForm">
                <ion-item>
                    <ion-label position="floating">Name</ion-label>
                    <ion-input type="text" formControlName="uname"></ion-input>
                  </ion-item>
                  <ion-item>
                      <ion-label position="floating">Password</ion-label>
                      <ion-input type="password" formControlName="pass"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label position="floating">Confirm Password</ion-label>
                    <ion-input type="password" formControlName="conpass"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label position="floating">Post</ion-label>
                    <ion-select formControlName="post">
                      <ion-select-option value="Core">Core</ion-select-option>
                      <ion-select-option value="Technical">Technical</ion-select-option>
                      <ion-select-option value="Event">Event</ion-select-option>
                      <ion-select-option value="PRO">PRO</ion-select-option>
                      <ion-select-option value="Sports">Sports</ion-select-option>
                      <ion-select-option value="Social">Social</ion-select-option>
                      <ion-select-option value="Discipline">Discipline</ion-select-option>
                      <ion-select-option value="Documentation">Documentation</ion-select-option>
                      <ion-select-option value="Decoration">Decoration</ion-select-option>
                    </ion-select>
                  </ion-item>
                  <ion-item>
                    <ion-label position="floating">Key</ion-label>
                    <ion-input type="password" formControlName="key"></ion-input>
                  </ion-item>
                    <ion-button padding expand="block" (click)="register()">Register</ion-button>
                    <ion-button padding expand="block"routerLink="/home" >Back</ion-button>
                </div>
            </ion-card-content>      
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>