<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <b>Events</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content padding-top>
      <ion-grid>
        <ion-row>
          <ion-col size-md="6" offset-md="3">
            <ion-card padding>
              <ion-card-content>
                <div [formGroup]="eventForm">
                  <ion-item>
                    <ion-label position="floating">Event</ion-label>
                    <ion-select formControlName="event">
                        <ion-select-option value="D'Bugging(IEEE)">D'Bugging(IEEE)</ion-select-option>
                        <ion-select-option value="D'Bugging(NON-IEEE)">D'Bugging(NON-IEEE)</ion-select-option>
                        <ion-select-option value="Protovision">Protovision</ion-select-option>
                        <ion-select-option value="Unravel">Unravel</ion-select-option>
                        <ion-select-option value="SID">Search In The Dark</ion-select-option>
                        <ion-select-option value="Matargashti">Matargashti</ion-select-option>
                        <ion-select-option value="Deadshot">Deadshot</ion-select-option>
                        <ion-select-option value="Pubg(DUO)">Pubg(DUO)</ion-select-option>
                        <ion-select-option value="Pubg(SQUAD)">Pubg(SQUAD)</ion-select-option>
                        <ion-select-option value="CSGO">CSGO</ion-select-option>
                        <ion-select-option value="VR">VR</ion-select-option>
                        <ion-select-option value="Rugby">Rugby</ion-select-option>
                        <ion-select-option value="Knock It Down">Knock It Down</ion-select-option>
                        <ion-select-option value="Carrom">Carrom</ion-select-option>
                        <ion-select-option value="Arm Wrestling">Arm Wrestling</ion-select-option>
                    </ion-select>
                  </ion-item>
                  <ion-item>
                    <ion-label position="floating">Name</ion-label>
                    <ion-input required type="text" formControlName="name"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label position="floating">Mobile Number</ion-label>
                    <ion-input required type="number" formControlName="number"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label position="floating">Email</ion-label>
                    <ion-input required type="text" formControlName="email"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label position="floating">College</ion-label>
                    <ion-input required type="text" formControlName="college"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label position="floating">Year</ion-label>
                    <ion-select formControlName="year">
                      <ion-select-option value="1year">1st Year</ion-select-option>
                      <ion-select-option value="2year">2nd Year</ion-select-option>
                      <ion-select-option value="3year">3rd Year</ion-select-option>
                      <ion-select-option value="4year">4th Year</ion-select-option>
                    </ion-select>
                  </ion-item>
                  <ion-item>
                    <ion-label position="floating">Department</ion-label>
                    <ion-select formControlName="department">
                      <ion-select-option value="CSE">CSE</ion-select-option>
                      <ion-select-option value="IT">IT</ion-select-option>
                      <ion-select-option value="Mechanical">Mechanical</ion-select-option>
                      <ion-select-option value="ETC">ETC</ion-select-option>
                      <ion-select-option value="Electrical">Electrical</ion-select-option>
                      <ion-select-option value="Civil">Civil</ion-select-option>
                    </ion-select>
                  </ion-item>
                  <ion-item>
                  <ion-label position="floating">Payment</ion-label>
                    <ion-input required type="number" formControlName="payment"></ion-input>
                  </ion-item>
                  <ion-button [disabled]="eventForm.invalid" expand="block" (click)="submit()">Submit</ion-button>
                  <ion-button expand="block" routerLink="/participants">Back</ion-button>
                </div>
              </ion-card-content>      
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>
 