ion-row{
    align-items: stretch;
    flex-wrap: nowrap;
    justify-content:start;
}
ion-col{
    justify-content: stretch;
}
.row1{
    background-color: #272727;
    border-color: #FF8888;
    color: #ffffff;
}
.col {
    border: solid 1px grey;
    border-bottom-style: none;
    border-right-style: none;
}

.col:last-child {
    border-right: solid 1px grey;
}

.row:last-child .col {
    border-bottom: solid 1px grey;
}
:root {
    --gutter: 20px;
  }
   .hs {
    display: grid;
    grid-gap: calc(var(--gutter) / 2);
    grid-template-columns: repeat(6, calc(50% - var(--gutter) * 2));
    grid-template-rows: minmax(150px, 1fr);
    padding: 0 20px;
    
    overflow-x: scroll;
    scroll-snap-type: x proximity;
    padding-bottom: calc(.75 * var(--gutter));
    margin-bottom: calc(-.25 * var(--gutter));
  }
  
  .hs > col:last-child {
    margin-right: 20px;
  }