<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <b>Participants</b>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="color app" [scrollEvents]="true">
    
      <ion-grid fixed class="hs full">
        <ion-row>
          <ion-col size-md="2">
              <ion-button expand="block" routerLink="/event">Back</ion-button>
          </ion-col>
        </ion-row> 
      <div [formGroup]="PartForm">
        <ion-row>
          <ion-col size-md="4">
            <ion-item>
                <ion-label position="floating">Select Event </ion-label>
                <ion-select formControlName="event">
                  <ion-select-option value="D'Bugging(IEEE)">D'Bugging(IEEE)</ion-select-option>
                  <ion-select-option value="D'Bugging(NON-IEEE)">D'Bugging(NON-IEEE)</ion-select-option>
                  <ion-select-option value="Protovision">Protovision</ion-select-option>
                  <ion-select-option value="Unravel">Unravel</ion-select-option>
                  <ion-select-option value="SID">Search In The Dark</ion-select-option>
                  <ion-select-option value="Matargashti">Matargashti</ion-select-option>
                  <ion-select-option value="Deadshot">Deadshot</ion-select-option>
                  <ion-select-option value="Pubg(DUO)">Pubg(DUO)</ion-select-option>
                  <ion-select-option value="Pubg(SQUAD)">Pubg(SQUAD)</ion-select-option>
                  <ion-select-option value="CSGO">CSGO</ion-select-option>
                  <ion-select-option value="VR">VR</ion-select-option>
                  <ion-select-option value="Rugby">Rugby</ion-select-option>
                  <ion-select-option value="Knock It Down">Knock It Down</ion-select-option>
                  <ion-select-option value="Carrom">Carrom</ion-select-option>
                  <ion-select-option value="Arm Wrestling">Arm Wrestling</ion-select-option>
                </ion-select>
            </ion-item>
          </ion-col>
          <ion-col size-md="2">
              <ion-button (click)="getTable()">OK</ion-button>
          </ion-col>
        </ion-row>
      </div>
<div class="container">
<table responsive class="table table-striped table-bordered">
  <thead class="thead-dark">
    <th>Name</th>
    <th>Branch</th>
    <th>Paid</th>
    <th>Pending</th>
    <th *ngIf="editing==false">Edit</th>
  </thead>
  <tbody>
    <tr *ngFor="let p of participants">
      <td>{{ p.data.name }}</td>
      <td>{{ p.data.department }}</td>
      <td>{{ p.data.payment }}</td>
      <td>{{ p.data.pending }}</td>
      <td *ngIf="editing==false"><span class="glyphicon glyphicon-pencil" class="glyphicon glyphicon-pencil" (click)="edit(p)"></span></td>
    </tr>
  </tbody>
</table>
</div>
<!-- <ion-row class="row row1">
    <ion-col class="col" size="2">Name</ion-col>
    <ion-col class="col" size="2">College Name</ion-col>
    <ion-col class="col" size="2">Branch</ion-col>
    <ion-col class="col" size="2"> Payment</ion-col>
    <ion-col class="col" size="2">Edit</ion-col>
  </ion-row>
  <ion-row *ngFor="let p of participants" class="row">
    <ion-col class="col" size="2">{{p.data.name}}</ion-col>
    <ion-col class="col" size="2">{{p.data.college}}</ion-col>
    <ion-col class="col" size="2">{{p.data.department}}</ion-col>
    <ion-col class="col" size="2">{{p.data.payment}}</ion-col>
    <ion-col class="col" size="2"><span class="glyphicon glyphicon-pencil" class="glyphicon glyphicon-pencil" (click)="edit(p)"></span></ion-col>
  </ion-row> -->
</ion-grid>
</ion-content>