<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <b>Event Amount</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding-top class="login">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card padding>
          <ion-card-content>
            <div [formGroup]="amountForm">
                <ion-item>
                    <ion-label position="floating">Event</ion-label>
                    <ion-select formControlName="event">
                      <ion-select-option value="D'Bugging">D'Bugging</ion-select-option>
                      <ion-select-option value="Protovision">Protovision</ion-select-option>
                      <ion-select-option value="Unravel">Unravel</ion-select-option>
                      <ion-select-option value="SID">Search In The Dark</ion-select-option>
                      <ion-select-option value="Matargashti">Matargashti</ion-select-option>
                      <ion-select-option value="Deadshot">Deadshot</ion-select-option>
                      <ion-select-option value="Pubg">Pubg</ion-select-option>
                      <ion-select-option value="VR">VR</ion-select-option>
                      <ion-select-option value="CSGO">CSGO</ion-select-option>
                      <ion-select-option value="Rugby">Rugby</ion-select-option>
                      <ion-select-option value="Knock It Down">Knock It Down</ion-select-option>
                      <ion-select-option value="Carrom">Carrom</ion-select-option>
                      <ion-select-option value="Arm Wrestling">Arm Wrestling</ion-select-option>
                    </ion-select>
                  </ion-item>
                <ion-item>
                    <ion-input type="number" formControlName="amount"></ion-input>
                </ion-item>
                  <ion-button padding expand="block" (click)="Add()">Add Amount</ion-button>
                  <ion-button padding expand="block" routerLink = '/event'>Back</ion-button>
              </div>
          </ion-card-content>      
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
