<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <b>Scan</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
      <ion-row>
        <ion-col size-md="2">
            <ion-button expand="block" routerLink="/event">Back</ion-button>
        </ion-col>
      </ion-row> 
    <div [formGroup]="PartForm">
      <ion-row>
        <ion-col size-md="4">
            <ion-label>{{id}}</ion-label>
          <ion-item>
            <ion-label position="floating">Select Event </ion-label>
              <ion-select formControlName="event">
                <ion-select-option value="D'Bugging(NON-IEEE)">D'Bugging(NON-IEEE)</ion-select-option>
                <ion-select-option value="D'Bugging(IEEE)">D'Bugging(IEEE)</ion-select-option>
                <ion-select-option value="Protovision">Protovision</ion-select-option>
                <ion-select-option value="Unravel">Unravel</ion-select-option>
                <ion-select-option value="SID">Search In The Dark</ion-select-option>
                <ion-select-option value="Matargashti">Matargashti</ion-select-option>
                <ion-select-option value="Deadshot">Deadshot</ion-select-option>
                <ion-select-option value="Pubg(DUO)">Pubg(DUO)</ion-select-option>
                <ion-select-option value="Pubg(SQUAD)">Pubg(SQUAD)</ion-select-option>
                <ion-select-option value="CSGO">CSGO</ion-select-option>
                <ion-select-option value="VR">VR</ion-select-option>
                <ion-select-option value="Rugby">Rugby</ion-select-option>
                <ion-select-option value="Knock It Down">Knock It Down</ion-select-option>
                <ion-select-option value="Carrom">Carrom</ion-select-option>
                <ion-select-option value="Arm Wrestling">Arm Wrestling</ion-select-option>
              </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
        <ion-row size-md="2">
          <ion-col>
              <ion-button expand="full" (click)="getEntries()">OK</ion-button>
          </ion-col>  
          <ion-col>
              <ion-button expand="full" (click)="show()">Show Details</ion-button>
          </ion-col>  
        </ion-row>
        <ion-row>
          <table *ngIf="currparticipant" class="table table-striped">
            <tbody>
              <tr>
                <td>Name</td>
                <td>{{currparticipant.data.name}}</td>
              </tr>
              <tr>
                <td>College</td>
                <td>{{currparticipant.data.college}}</td>
              </tr>
              <tr>
                <td>Event</td>
                <td>{{currparticipant.data.event}}</td>
              </tr>
              <tr>
                <td>Year</td>
                <td>{{currparticipant.data.year}}</td>
              </tr>
              <tr>
                <td>Mobile Number</td>
                <td>{{currparticipant.data.number}}</td>
              </tr>
            </tbody>
          </table>
      </ion-row>
      <ion-row>
          <ion-col>
              <ion-button expand="full" (click)="add()">Add</ion-button>
          </ion-col>  
      </ion-row>
    </div>
  </ion-grid> 
</ion-content>
