<ion-header>
  <ion-toolbar>
    <ion-title color="primary" >
      <b>
          Admin
      </b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
  <div [formGroup]="AdminForm">
    <ion-item>
      <ion-label>Disable Edits</ion-label>
      <ion-toggle checked="false" formControlName="edits"></ion-toggle>
    </ion-item>
    <ion-item>
        <ion-label>Disable Scanning</ion-label>
        <ion-toggle checked="false" formControlName="scan"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Disable ADD AMOUNT</ion-label>
        <ion-toggle checked="false" formControlName="amount"></ion-toggle>
      </ion-item>
  </div>
  </ion-list>
  <ion-button position="botton" expand="full" (click)="save()"><ion-icon md="md-checkbox-outline">Save</ion-icon></ion-button>
</ion-content>
