ion-title{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

ion-content{
    font-family: 'Courier New', Courier, monospace;
}

ion-button{
    --border-radius:10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
