<ion-header >
  <ion-toolbar color="dark">
    <ion-title>
      <b>Login</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color: violet !important;">
  <div style="height: 20%;"></div>
  <ion-grid id="login" >
    <ion-row>
      <ion-col>
        <ion-card style="border-radius: 15px;" padding>
          <ion-card-content>
            <div [formGroup]="loginForm">
              <div class="itemContent"> 
                  <!-- <ion-label>Username</ion-label> -->
                  <ion-input type="text" placeholder="Username" formControlName="uname" style="color: whitesmoke;"></ion-input>
                  <hr style="background-color: #03c2fc !important;" />
              </div> 
              <div class="itemContent">
                <!-- <ion-label position="floating">Password</ion-label> -->
                <ion-input type="password" formControlName="upass" placeholder="Password" style="color: whitesmoke;"></ion-input>
                <hr style="background-color: #03c2fc !important;" />
              </div>
              <ion-button padding expand="block" (click)="Login()">Login</ion-button>
              <ion-button padding expand="block" routerLink="/registration">Register</ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
