.login {
    margin-top: 150px;
}

.itemContent ion-item{
    background-color: transparent;
}
item-content{
    background-color: #272E38 !important;
    //background-image: url("../../assets/background.jpg");
    background-repeat: no-repeat;
    height: 100%;
    width:100%;
}
ion-button{
    --border-radius:10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
ion-title{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

ion-content{
    font-family: 'Courier New', Courier, monospace;
}
ion-card{
    background-color: #272E38 !important;
}