<ion-header>
  <ion-toolbar>
    <ion-title>
      <b>QR Code</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="Create()"><ion-icon name="barcode"></ion-icon>Generate QRCode</ion-button>
  <ion-button routerLink="/event"><ion-icon name="md-arrow-round-back"></ion-icon>Back</ion-button>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card *ngIf="id">
            <ion-label><b>Name:  {{currparticipant.name}}</b></ion-label>
            <br>
            <ion-label><b>Event:  {{currparticipant.event}}</b></ion-label>
        </ion-card>
        <ion-card *ngIf="id">
          <ngx-qrcode [qrc-value]="id"></ngx-qrcode>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
